<!DOCTYPE html>
<html>
    <head>
        <title>Parry's World</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700" rel="stylesheet">
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=nxjv3qr205ajx3vhkmucxzawevonbslc8huxjtvg3xfnvhjb"></script>

        <script>tinymce.init({
          selector: ".tinymce",
          extended_valid_elements : "iframe[src|title|width|height|allowfullscreen|frameborder]",
          height: 500,
 menubar: false,
 plugins: [

   'advlist autolink lists link image charmap print preview anchor',
   'searchreplace visualblocks code fullscreen',
   'insertdatetime media table contextmenu paste code textcolor'
 ],
 toolbar: 'undo redo | insert | styleselect | bold italic underline | fontselect fontsizeselect | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
 font_formats: 'Andale Mono=andale mono,times;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Helvetica=helvetica;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats',
 fontsize_formats: '8pt 10pt 11pt 12pt 14pt 15pt 18pt 20pt 22pt 24pt 25pt 26pt 27pt 28pt 29pt 30pt 32pt 34pt 36pt 40pt 48pt 50pt 60pt 64pt 72pt 80pt 90pt',
 content_css: [
   '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
   '//www.tinymce.com/css/codepen.min.css']
        });</script>

        <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102560878-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102560878-1');
      </script>

    </head>

    <body>


      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

      <div class="body-content">


      <a href="/posts">
        <div class="header">
          <img src="https://pbs.twimg.com/media/DEqRSRnVwAA-QPP.png:large">
        </div>
      </a>
