<% include ../partials/header %>

<div class="container">
    <% posts.forEach(function(posts){ %>
      <div class="col-sm-12">
        <div class="post-container">
          <div class="post">
            <a href="/posts/<%= posts._id %>">
              <div class="front">
                <div class="image-container">
                  <img id="index-image" src="<%= posts.image %>">
                </div>
              </div>
              <div class="back">
                <h4><%= posts.title %></h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    <% }); %>
</div>

<% include ../partials/footer %>
