<% include ../partials/header %>

<div class="container">
  <div class="row form-display">
    <h1 style="text-align: center; margin-top: 60px; font-size: 40px;">SUBSCRIBE</h1>
      <h4 style="text-align:center; margin-bottom: 80px;"> - STAY UP TO DATE - </h4>
      <form class="subscribe form-container" action="" method="POST" style="width: 90%; margin-left: 13em;">
          <div class="form-group">
            <div class="col-xs-9">
              <input class="form-control" type="email" name="" style="font-size: 18px; padding: 25px;" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-9">
              <button class="btn btn-large btn-success btn-block"><h4>Submit</h4></button>
            </div>
          </div>
      </form>
  </div>
</div>

<% include ../partials/footer %>
